Repository brendel-group/mission_db, pull requests merged in 2024-12, with the labels that each got.

#122 Add permission denied handling for cli history file
  backend/cli.py
Labels: CLI

#101 Deploy front-end to fly-io
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/fly.toml
Labels: Frontend

#123 UI searchable tags
  frontend/app/data.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/utilities/TagList.tsx
  frontend/app/utilities/fetchapi.ts
Labels: Tags, Frontend

#127 Frontend tests
  frontend/app/utilities/fetchapi.test.ts
  frontend/app/utilities/fetchapi.ts
  frontend/jest.config.cjs
  frontend/jest.setup.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.jest.json
  frontend/tsconfig.json
Labels: Frontend

#130 adding django tests to github actions
  .github/workflows/django.yml
  .github/workflows/ruff.yml
Labels: Environment, CLI, Backend

#129 added test cases for restapi
  backend/restapi/tests.py
Labels: Backend

#116 Cli syncfolder
  backend/cli.py
  backend/tests_cli.py
  docs/cli/README.md
Labels: CLI

#102 Deploy backend to fly-io
  backend/.dockerignore
  backend/Dockerfile
  backend/backend/settings.py
  backend/fly.toml
  backend/requirements.txt
  docs/database/README.md
  requirements.txt
Labels: Backend

#131 Fix Mission table required fields and DATABASE_URL
  .github/workflows/django.yml
  backend/restapi/models.py
  backend/tests_cli.py
Labels: Backend

#140 New handling of null cases in the detail view and in overview
  frontend/app/pages/details/DatasetTable.tsx
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/pages/details/StatsView.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/utilities/fetchapi.ts
Labels: Frontend

#143 Renames remarks/other to note
  backend/cli.py
  backend/restapi/models.py
  backend/restapi/tests.py
  backend/tests_cli.py
  docs/cli/README.md
  docs/db_scheme/README.md
  docs/db_scheme/db_scheme_er_diagram.drawio
  docs/db_scheme/db_scheme_er_diagram.png
  docs/restapi/README.md
  frontend/app/RandomData.tsx
  frontend/app/data.tsx
  frontend/app/pages/details/StatsView.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/utilities/fetchapi.test.ts
  frontend/app/utilities/fetchapi.ts
Labels: Frontend, Backend

#144 Added frontend logic to change notes and location in detail view
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/pages/details/InformationView.tsx
  frontend/app/pages/details/StatsView.tsx
  frontend/app/pages/missions/Overview.tsx
Labels: Details, Frontend

#145 Reorganization of frontend code base
  frontend/app/RandomData.tsx
  frontend/app/config.tsx
  frontend/app/data.tsx
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/pages/details/InformationView.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/routes/details.tsx
  frontend/app/utilities/TagList.tsx
  frontend/app/utilities/fetchapi.test.ts
  frontend/app/utilities/fetchapi.ts
Labels: Frontend

#147 added nodejs tests to github actions
  .github/workflows/nodejs.yml
Labels: Environment, Frontend

#148 Introduced date field to detail view and overview table
  frontend/app/data.tsx
  frontend/app/pages/details/InformationView.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/routes/details.tsx
Labels: Frontend

#146 Restapi Api Key Authorization
  .gitignore
  backend/backend/settings.py
  backend/cli.py
  backend/requirements.txt
  backend/restapi/tests.py
  backend/staticfiles/.placeholder
  backend/tests_cli.py
  docs/cli/README.md
  docs/frontend/README.md
  docs/restapi/README.md
  frontend/app/utilities/fetchapi.ts
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
Labels: Environment, Frontend, CLI, Backend

#150 Finalizes the implementation of changeable notes and location
  frontend/app/data.tsx
  frontend/app/pages/details/InformationView.tsx
  frontend/app/utilities/fetchapi.ts
Labels: Frontend

#149 Polybot icon now clickable
  frontend/app/layout/AppShell.tsx
Labels: Frontend

#155 CLI interactive mode improvements
  backend/cli.py
  backend/tests_cli.py
  docs/cli/README.md
Labels: CLI
