Repository brendel-group/mission_db, pull requests merged in 2025-03, with the labels that each got.

#279 add topics and videos to database
  backend/cli_commands/AddFolderCommand.py
  backend/cli_commands/GenerateVideoCommand.py
  backend/cli_commands/SyncCommand.py
  backend/cli_commands/test_add_folder.py
  backend/cli_commands/test_sync_folder.py
Labels: Backend

#287 Routing bug
  frontend/app/pages/dataset/TopicTable.tsx
  frontend/app/pages/details/DatasetTable.tsx
Labels: Bugfix

#288 Added line breaks in the topic table
  frontend/app/pages/dataset/TopicTable.tsx
Labels: Frontend

#286 include frequency as fps again
  backend/cli_commands/GenerateVideoCommand.py
  backend/cli_commands/SyncCommand.py
Labels: Bugfix
