Repository brendel-group/mission_db, pull requests merged in 2025-01, with the labels that each got.

#157 Tag picker custom color Input
  frontend/app/config.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/utilities/TagList.tsx
  frontend/app/utilities/TagPicker.tsx
Labels: Frontend

#151 Make the CLI use a pager
  backend/cli.py
  backend/tests_cli.py
  docs/cli/README.md
Labels: CLI

#161 CLI Refactoring
  backend/cli.py
  backend/cli_commands/AddFolderCommand.py
  backend/cli_commands/ApiKeyCommand.py
  backend/cli_commands/Command.py
  backend/cli_commands/MissionCommand.py
  backend/cli_commands/SyncFolderCommand.py
  backend/cli_commands/TagCommand.py
  backend/cli_commands/UserCommand.py
  backend/cli_commands/__init__.py
  backend/cli_commands/test_add_folder.py
  backend/cli_commands/test_api_key.py
  backend/cli_commands/test_command.py
  backend/cli_commands/test_mission.py
  backend/cli_commands/test_sync_folder.py
  backend/cli_commands/test_tag.py
  backend/cli_commands/test_user.py
  backend/tests_cli.py
  docs/cli/README.md
Labels: CLI

#152 Fetch-API - Details
  backend/cli_commands/Command.py
  backend/cli_commands/test_tag.py
  backend/restapi/models.py
  backend/restapi/tests.py
  backend/restapi/urls.py
  docs/fetchapi/README.md
  frontend/app/pages/details/DatasetTable.tsx
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/pages/details/InformationView.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/utilities/fetchapi.test.ts
  frontend/app/utilities/fetchapi.ts
Labels: Details, Frontend

#159 Tag picker add existing tags and delete all tags
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/routes/details.tsx
  frontend/app/utilities/TagList.tsx
  frontend/app/utilities/TagPicker.tsx
  frontend/app/utilities/fetchapi.test.ts
  frontend/app/utilities/fetchapi.ts
Labels: Frontend

#160 Implemented backend part for frontend login
  frontend/app/data.tsx
  frontend/app/routes/login.tsx
  frontend/app/routes/logout.tsx
  frontend/app/utilities/LoginHandler.tsx
  frontend/app/utilities/fetchapi.ts
Labels: Frontend, Backend

#163 Tag picker edit tag menu
  frontend/app/pages/missions/Overview.tsx
  frontend/app/utilities/TagList.tsx
  frontend/app/utilities/TagPicker.tsx
  frontend/app/utilities/fetchapi.test.ts
  frontend/app/utilities/fetchapi.ts
Labels: Tags, Frontend

#172 syncfolder (delete non existing missions)
  backend/cli_commands/SyncFolderCommand.py
  docs/cli/README.md
Labels: CLI

#175 Refactoring of detail view and introduction of a robot name aggregation.
  frontend/app/data.tsx
  frontend/app/pages/details/DatasetTable.tsx
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/routes/details.tsx
  frontend/app/utilities/fetchapi.test.ts
  frontend/app/utilities/fetchapi.ts
Labels: Frontend

#177 Fixed bug not found bug in mission table.
  frontend/app/pages/missions/Overview.tsx
Labels: Frontend

#168 Rest API Session Authentication
  backend/backend/settings.py
  backend/cli_commands/ApiKeyCommand.py
  backend/cli_commands/test_api_key.py
  backend/requirements.txt
  backend/restapi/tests.py
  docs/cli/README.md
  docs/frontend/README.md
  docs/restapi/README.md
  frontend/app/config.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/routes/login.tsx
  frontend/app/utilities/fetchapi.test.ts
  frontend/app/utilities/fetchapi.ts
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
Labels: Environment, Frontend, CLI, Backend

#183 CLI use django storage
  .gitignore
  backend/backend/settings.py
  backend/cli_commands/AddFolderCommand.py
  backend/cli_commands/MissionCommand.py
  backend/cli_commands/SyncCommand.py
  backend/cli_commands/SyncFolderCommand.py
  backend/cli_commands/TagCommand.py
  backend/cli_commands/test_add_folder.py
  backend/cli_commands/test_sync_folder.py
  backend/media/.placeholder
  backend/tests_cli.py
  docs/cli/README.md
Labels: Environment, CLI

#182 Fix dependabot cookie version vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: Frontend, Bugfix

#184 Fix bug when robot name is null
  frontend/app/pages/details/DetailsView.tsx
Labels: Frontend, Bugfix

#185 Include csrf token in X-CSRFToken header
  backend/backend/settings.py
  frontend/app/utilities/fetchapi.ts
Labels: Frontend, Bugfix

#169 DB Schema Topics
  backend/cli_commands/AddFolderCommand.py
  backend/cli_commands/test_add_folder.py
  backend/restapi/models.py
  backend/restapi/serializer.py
  backend/restapi/tests.py
  docs/db_scheme/README.md
  docs/db_scheme/db_scheme_er_diagram.drawio
  docs/db_scheme/db_scheme_er_diagram.png
Labels: Backend, Topics

#187 sort data at beginning
  frontend/app/pages/missions/Overview.tsx
Labels: Frontend

#195 Added video field to the fetch api
  frontend/app/data.tsx
  frontend/app/utilities/fetchapi.test.ts
  frontend/app/utilities/fetchapi.ts
Labels: Frontend

#192 Addressed headline bug in detail view
  frontend/app/pages/details/DetailsView.tsx
Labels: Frontend

#202 Fixed bug when changing location and notes field simultaneously
  frontend/app/pages/details/InformationView.tsx
Labels: Frontend, Bug

#203 Implemented Rest API for topics
  backend/restapi/serializer.py
  backend/restapi/tests.py
  backend/restapi/urls.py
  backend/restapi/views.py
  docs/restapi/README.md
Labels: Backend

#204 Added frontend error handling
  frontend/app/pages/error/ErrorPage.module.css
  frontend/app/pages/error/ErrorPage.tsx
  frontend/app/root.tsx
  frontend/app/routes/dataset.tsx
  frontend/app/routes/details.tsx
Labels: Frontend

#199 Added robot names to mission table
  frontend/app/fetchapi/details.tsx
  frontend/app/fetchapi/tests/details.test.tsx
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/utilities/FormatTransformer.tsx
Labels: Frontend

#189 save metadata on sync command
  backend/cli_commands/AddFolderCommand.py
  backend/cli_commands/DeleteFolderCommand.py
  backend/cli_commands/SyncCommand.py
  backend/cli_commands/test_delete_folder.py
  docs/cli/README.md
Labels: CLI

#214 Added name truncation
  frontend/app/fetchapi/details.tsx
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/routes/details.tsx
  frontend/app/utilities/FormatHandler.tsx
  frontend/app/utilities/FormatTransformer.tsx
Labels: Frontend

#217 fix the displaying of notes
  frontend/app/pages/details/InformationView.tsx
  frontend/app/pages/missions/Overview.tsx
Labels: Details, Frontend

#212 Add brand-new domain
  backend/backend/settings.py
Labels: Backend

#221 Added basic pagination
  frontend/app/config.tsx
  frontend/app/layout/NavBar/NavBar.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: Frontend

#222 Make @mantine/notifications a regular dependency
  frontend/package-lock.json
  frontend/package.json
Labels: Environment

#218 Change the kind of relation of Mission and File
  backend/cli_commands/AddFolderCommand.py
  backend/cli_commands/DeleteFolderCommand.py
  backend/cli_commands/MissionCommand.py
  backend/cli_commands/test_add_folder.py
  backend/cli_commands/test_delete_folder.py
  backend/cli_commands/test_sync_folder.py
  backend/restapi/models.py
  backend/restapi/serializer.py
  backend/restapi/tests.py
  backend/restapi/views.py
  docs/db_scheme/README.md
  docs/db_scheme/db_scheme_er_diagram.drawio
  docs/db_scheme/db_scheme_er_diagram.png
  frontend/app/fetchapi/details.tsx
  frontend/app/fetchapi/tests/details.test.tsx
Labels: Frontend, Backend

#186 File download/streaming
  .github/workflows/ruff.yml
  .pre-commit-config.yaml
  backend/backend/settings.py
  backend/backend/tests.py
  backend/backend/urls.py
  backend/backend/views.py
  backend/requirements.txt
  backend/restapi/serializer.py
  backend/restapi/views.py
  docs/files/README.md
Labels: Backend

#220 API Endpoint for single file
  backend/restapi/serializer.py
  backend/restapi/tests.py
  backend/restapi/urls.py
  backend/restapi/views.py
  docs/restapi/README.md
Labels: Backend, Dataset

#224 Sync files
  backend/cli_commands/SyncCommand.py
  backend/cli_commands/test_sync_folder.py
  docs/cli/README.md
Labels: CLI
