Repository brendel-group/mission_db, pull requests merged in 2025-02, with the labels that each got.

#228 Frontend embed mp4 video
  backend/restapi/serializer.py
  frontend/app/data.tsx
  frontend/app/fetchapi/details.tsx
  frontend/app/fetchapi/tests/details.test.tsx
  frontend/app/pages/dataset/DatasetView.tsx
  frontend/app/pages/details/DatasetTable.tsx
  frontend/app/routes/dataset.tsx
Labels: Frontend, Dataset

#229 bugfix when mission name is long
  frontend/app/pages/missions/Overview.tsx
Labels: Bugfix

#230 fix rename tag bug and error message bug
  frontend/app/utilities/TagPicker.tsx
Labels: Bugfix

#226 add command to restore the database (and the metadata in the json files)
  backend/cli_commands/RestoreDatabaseCommand.py
  backend/cli_commands/test_restore_database.py
  docs/cli/README.md
Labels: CLI

#227 FetchAPI - Topics
  docs/fetchapi/README.md
  frontend/app/data.tsx
  frontend/app/fetchapi/tests/topics.test.tsx
  frontend/app/fetchapi/topics.tsx
Labels: Frontend, Topics

#234 Fix frontend video_url null
  frontend/app/data.tsx
  frontend/app/fetchapi/details.tsx
Labels: Frontend, Bugfix

#243 Added option to copy base path, and fixed a bug in the headline
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/pages/details/InformationView.tsx
Labels: Frontend

#246 Added type tags and filter option to the detail view.
  frontend/app/pages/details/DatasetTable.tsx
Labels: Frontend

#247 Improved fetching in frontend
  frontend/app/pages/details/DetailsView.tsx
  frontend/app/pages/details/InformationView.tsx
  frontend/app/pages/missions/Overview.tsx
  frontend/app/routes/details.tsx
Labels: Frontend

#248 Add feedback when pressing login button
  frontend/app/pages/login/LoginPage.module.css
  frontend/app/pages/login/LoginPage.tsx
Labels: Frontend

#233 Fix S3 does not support absolute paths
  backend/restapi/serializer.py
Labels: Backend, Bugfix

#213 Better checking for metadata and mcap files
  backend/cli_commands/AddFolderCommand.py
Labels: Backend

#257 Set same session age in backend as in frontend
  backend/backend/settings.py
Labels: Environment, Backend

#255 Login feedback bug
  frontend/app/pages/login/LoginPage.module.css
  frontend/app/pages/login/LoginPage.tsx
Labels: Frontend, Bugfix

#258 Added dynamic type handling in the detail view
  docs/fetchapi/README.md
  frontend/app/data.tsx
  frontend/app/fetchapi/details.tsx
  frontend/app/fetchapi/tests/details.test.tsx
  frontend/app/pages/details/DatasetTable.tsx
  frontend/app/routes/details.tsx
Labels: Frontend

#256 Make it possible to change allowed topic names
  backend/cli_commands/TopicCommand.py
  backend/cli_commands/test_topic.py
  backend/restapi/models.py
  backend/restapi/serializer.py
  backend/restapi/tests.py
  backend/restapi/urls.py
  backend/restapi/views.py
  docs/cli/README.md
  docs/db_scheme/README.md
  docs/db_scheme/db_scheme_er_diagram.drawio
  docs/db_scheme/db_scheme_er_diagram.png
Labels: CLI, Backend, Topics

#260 Added foxglove and download button to detail view
  frontend/app/data.tsx
  frontend/app/pages/details/DatasetTable.tsx
  frontend/public/fox_glove.svg
Labels: Frontend

#261 Added Dataset View design
  frontend/app/data.tsx
  frontend/app/pages/dataset/ActionButtons.tsx
  frontend/app/pages/dataset/DatasetDetailsView.tsx
  frontend/app/pages/dataset/DatasetView.tsx
  frontend/app/pages/dataset/VideoView.tsx
  frontend/app/pages/details/InformationView.tsx
  frontend/app/routes/dataset.tsx
  frontend/app/utilities/TagPicker.tsx
Labels: Frontend

#262 Extended mp4 conversion to all topics with image message type
  backend/mcap_to_mp4.py
  backend/requirements.txt
  backend/rosdecoder.py
Labels: Backend

#249 Display topics in frontend
  frontend/app/pages/dataset/DatasetView.tsx
  frontend/app/pages/dataset/TopicTable.module.css
  frontend/app/pages/dataset/TopicTable.tsx
  frontend/app/routes/dataset.tsx
Labels: Frontend, Topics

#269 fix bug
  frontend/app/pages/details/DatasetTable.tsx
  frontend/app/pages/details/DetailsView.tsx
Labels: Frontend

#267 add about info from the awesome developers
  frontend/app/layout/NavBar/NavBar.tsx
  frontend/app/pages/AboutPage.tsx
  frontend/app/pages/SettingsPage.tsx
  frontend/app/routes/about.tsx
Labels: Frontend

#270 Move video to topic table
  backend/restapi/models.py
  backend/restapi/serializer.py
  backend/restapi/views.py
  docs/db_scheme/README.md
  docs/db_scheme/db_scheme_er_diagram.drawio
  docs/db_scheme/db_scheme_er_diagram.png
  docs/restapi/README.md
  frontend/app/data.tsx
  frontend/app/fetchapi/details.tsx
  frontend/app/fetchapi/tests/details.test.tsx
Labels: Backend, Topics

#273 Datasetview video enhancement
  frontend/app/data.tsx
  frontend/app/fetchapi/details.tsx
  frontend/app/fetchapi/tests/details.test.tsx
  frontend/app/pages/dataset/DatasetDetailsView.tsx
  frontend/app/pages/dataset/DatasetView.tsx
  frontend/app/pages/dataset/VideoView.tsx
  frontend/app/pages/dataset/video/VideoUtilities.tsx
  frontend/app/pages/dataset/video/VideoView.tsx
  frontend/app/pages/dataset/video/controls/BottomControls.tsx
  frontend/app/pages/dataset/video/controls/CenterControls.tsx
  frontend/app/pages/details/InformationView.tsx
  frontend/app/utilities/FormatHandler.tsx
Labels: Frontend

#271 Add set up instructions to readme
  README.md
Labels: Basic, Environment

#278 Fix dependabot alerts
  frontend/package-lock.json
  frontend/package.json
Labels: Environment

#277 delete folder after test (bugfix)
  backend/cli_commands/RestoreDatabaseCommand.py
  backend/cli_commands/test_restore_database.py
Labels: Bugfix

#280 Add documentation about env vars
  docs/env-vars/README.md
Labels: Environment

#282 Fix video codec
  .github/workflows/django.yml
  README.md
  backend/cli_commands/AddFolderCommand.py
  backend/cli_commands/GenerateVideoCommand.py
  backend/cli_commands/test_add_folder.py
  backend/requirements.txt
Labels: Environment, Backend, Bugfix
